/testing/B/*.jpg
/testing/b/*.jpg
/testing/empty/*.jpg
/testing/K/*.jpg
/testing/k/*.jpg
/testing/N/*.jpg
/testing/n/*.jpg
/testing/P/*.jpg
/testing/p/*.jpg
/testing/Q/*.jpg
/testing/q/*.jpg
/testing/R/*.jpg
/testing/r/*.jpg

/training/B/*.jpg
/training/b/*.jpg
/training/empty/*.jpg
/training/K/*.jpg
/training/k/*.jpg
/training/N/*.jpg
/training/n/*.jpg
/training/P/*.jpg
/training/p/*.jpg
/training/Q/*.jpg
/training/q/*.jpg
/training/R/*.jpg
/training/r/*.jpg

/vendor
composer.lock
progress.csv
report.json
*.rbx
*.old
.vscode
.vs
